.title-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.section-trabalhos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
